.controls {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF;
  background-color: #36393f;
}

.left, .right {
  flex: 0;
}

.center {
  color: #fff;
  flex: 1;
  padding: 10px;
  line-height: 28px;
  font-family: monospace;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.center a {
  color: #fff;
  text-decoration: none;
}
