.navBtn {
  border: none;
  outline: none;
  min-width: 48px;
  height: 48px;
  background-color: #36393f;
  border-radius: 0;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.navBtn:disabled {
  opacity: .5;
  cursor: default;
}

.btnLeft {
  float: left;
}

.btnRight {
  float: right;
}
